*.csv
schedule.md
.DS_Store
__pycache__/
Homework/hw1/CS498MLSys_FA25_HW1_Xiaoyang_Chen_xc52.aux
Homework/hw1/CS498MLSys_FA25_HW1_Xiaoyang_Chen_xc52.log
Homework/hw1/CS498MLSys_FA25_HW1_Xiaoyang_Chen_xc52.synctex.gz
